* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container {
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
  padding: 0 86px;
}

section {
  flex-grow: 1;
  padding: 48px 0 0;
}

h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 116.7%;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 62px;
}

h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 123.5%;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
}

.container .css-9mgopn-MuiDivider-root {
  border: 1px solid #BFBFBF;
  border-width: 100%;
  margin: 13px 0 105px;
}