.css-4gb23b-MuiTypography-root.MuiTypography-h5 {
    font-family: 'Salsa', cursive;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #AAA5A5;
}